body{
    height: 100%;
}

html{
    color:white;
    background-color: #040C24;
    height:100%;
}

header{
    margin:0;
    height: 20%;
    background-color: navy;
    text-align: center;
}

main{
    margin:0;
    min-height:100%;
    background-image: linear-gradient(to top right,navy,blue);
    border:1px solid white;
    border-radius: 5px;
}

footer{
    bottom:0;
    height:50px;
    background:black;
    
}
/*
Color Palette:
White
#FFFFFF

Blues (light to dark)
#3A4C7A
#0A205A
#040C24

Dark Purple
#3D0069

*/